.ds4 .button{
    position:abolute;
    width: 55px;
    height: 55px;
    background: url(https://raw.githubusercontent.com/GlitchMode/custom-ps4-skin-BW/master/face.svgz?token=AL4CP75TOJQJWTEURXJWZP26WCAPU);
}